<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="Authorization_ConnectionString"
        connectionString="server= WKC001155737\SQLSERVER;database=TestDB; Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>